footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f4a8a8;
  font-family: "Spartan", sans-serif;
  font-size: 12px;
  box-shadow: 0px 0px 1px rgba(12, 26, 75, 0.24),
    0px -3px 8px -1px rgba(50, 50, 71, 0.05);
  border-radius: 3px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 20px);
  height: 30px;
}

.img-container {
  display: flex;
  align-items: center;
  list-style: none;
  img {
    width: 20px;
  }
}
