<div class="detailContainer">
    <div class="detailPhotoAndInfo">
        <div class="imageContainer">
            <img src="{{product.imgUrl}}" alt="">
        </div>
        <div class="detailInfo">
            <p>{{product.name}}</p>
            <div class="priceAndBrandContainer">
                <p class="brand">{{product.brand}}</p>
                <p class="price">{{product.price}} €</p>
            </div>
        </div>
    </div>   
    <p class="description">{{product.description}}</p>
</div>