<div class="homeContainer">
    <div class="title-container">
        <h1>Lipsticks</h1>
        <img src="/assets/lipslips.png" alt="">
    </div>
    <div class="productList">
        <div class="productContainer" *ngFor="let product of productsList"  routerLink="{{product.id}}">
            <div class="imageContainer">
                <img src="{{product.url}}" alt="">
            </div>
            <p>{{product.name}}</p>
            <p class="product-price">{{product.price}} €</p>
        </div>
    </div>    
</div>
